---
import DropdownItem from './DropdownItem.astro';
---
<div class="dropdown">
  <a
    href="#"
    class="dropdown-toggle text-dark"
    data-bs-toggle="dropdown"
    ><small
      ><i class="fa fa-home text-primary me-2"></i> My Dashboard</small
    ></a
  >
  <div class="dropdown-menu rounded">
    <DropdownItem href="#" icon="fas fa-user-alt">Mi Perfil</DropdownItem>
    <DropdownItem href="#" icon="fas fa-comment-alt">Mensajes</DropdownItem>
    <DropdownItem href="#" icon="fas fa-bell">Notificaciones</DropdownItem>
    <DropdownItem href="#" icon="fas fa-cog">Configuración de Cuenta</DropdownItem>
    <DropdownItem href="#" icon="fas fa-power-off">Cerrar Sesión</DropdownItem>
  </div>
</div>