---
import AboutText from './AboutText.astro';
import AboutImages from './AboutImages.astro';
---

<div class="container-fluid about py-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <AboutText />
      <AboutImages />
    </div>
  </div>
</div>